<?xml version="1.0"?>
<model>
  <name>Tarot 680</name>
  <version>1.0</version>
  <sdf version="1.5">tarot_680.sdf</sdf>

  <author>
   <name>Javier Herrera</name>
   <email>javierandresh039@gmail.com</email>
  </author>

  <description>
    This is a model of the Tarot 680 mounted the ultrasonic MB7388 and OAK-D 3D Depth Camera
  </description>
</model>
