<?xml version="1.0" ?>
<model>
    <name>building_bank</name>
    <version>1.0</version>
    <sdf version="1.7">building_bank.sdf</sdf>
    <author>
        <name>Javier Herrera - Julian Garcia</name>
        <email>javierandresh039@gmail.com</email>
    </author>
    <description>building_bank in Medellin, Colombia</description>
</model>
